<div class="container">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card-text-center">
        <div class="card-body text-muted">
          <h2>{{ accion }} Restaurante</h2>
          <div class="col-8 mt-4">
            <form [formGroup]="restauranteForm" (ngSubmit)="enviar()">
              <div class="col-auto mb-3">
                <label for="name" class="form-label text-bold"
                  >Restaurante</label
                >
                <div class="input-group">
                  <div class="input-group-text">
                    <img src="/assets/svg/file-text.svg" />
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    id="nombre"
                    placeholder="Nombre del restaurante"
                    formControlName="Nombre"
                  />
                </div>
              </div>

              <div class="col-auto mb-3">
                <label for="direccion" class="form-label">Direccion</label>
                <div class="input-group">
                  <div class="input-group-text">
                    <img src="/assets/svg/geo-alt.svg" />
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    id="direccion"
                    placeholder="Direccion del restaurante"
                    formControlName="Direccion"
                  />
                </div>
              </div>

              <div class="col-auto mb-3">
                <label for="telefono" class="form-label">Telefono</label>
                <div class="input-group">
                  <div class="input-group-text">
                    <img src="/assets/svg/telephone.svg" />
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    id="telefono"
                    placeholder="Numero telefonico"
                    formControlName="Telefono"
                  />
                </div>
              </div>

              <div class="col-auto mb-3 col-8">
                <label for="categoria" class="form-label">Categoria</label>
                <div class="input-group">
                  <div class="input-group-text">
                    <img src="/assets/svg/telephone.svg" />
                  </div>
                  <select
                    class="form-select"
                    aria-label="Default select example"
                    formControlName="idCategoria"
                  >
                    <option *ngFor="let cat of categorias" value="{{ cat.id }}">
                      {{ cat.Nombre }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="mb-3 d-grid gap-2 col-4 mx-auto">
                <button
                  [disabled]="!restauranteForm.valid"
                  class="btn btn-orange btn-lg mt-3"
                >
                  Registrar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
